@import 'styles/vars';
.menuBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 200;
  position: fixed;
  bottom: 20px;
  right: 35px;

  &_body {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    row-gap: 15px;
    margin-bottom: 15px;
    min-height: 100px;

    &_row {
      display: flex;
      align-items: center;
      column-gap: 30px;

      &_title {
        cursor: default;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        padding: 10px;
        border-radius: 6px;
        background-color: whitesmoke;
      }
    }
  }

  .menuBtn {
    display: inline-block;
    cursor: pointer;
    width: 60px;
    height: 60px;
    padding: 2px;
    text-align: center;
    border-radius: 50%;
    border: 3px solid grey;
    background-color: $primary-color;
    color: white;
    margin-bottom: 0.3rem;
    font-size: 30px;
    opacity: 0.7;
    transition: 0.5s all;

    &:hover {
      opacity: 1;
    }

    &.active {
      opacity: 1;
      padding: 2px;
      border: 3px solid $primary-color;
      color: black;
      background-color: whitesmoke;
      
      &:hover{
        color: $primary-color;
        transition: 0.5s all;
      }
    }
  }
}

.animation {
  transition: opacity 0.5s linear;
}

.msgFbBtn {
  display: inline-block;
    cursor: pointer;
    width: 60px;
    height: 60px;
    padding: 5px;
    text-align: center;
    border-radius: 50%;
    background-color: $primary-color;
    color: white;
    margin-bottom: 0.3rem;
    font-size: 30px;
    transition: 0.5s ;

    &_svgSize{
      width: 40px;
      height: 40px;
    }
  
    &:hover {
      color: $primary-color;
      background-color: #fff;
      border: 3px solid $primary-color;
      padding: 2px;
    }
}

@media screen and (max-width: #{$sm}px) {
  .menuBlock {
    right: 15px;
  }
}
