.eyeBtn {
  background-color: transparent;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5px;
  top: 40px;


  svg {
    transition: 0.3s;
  }

  svg:hover, svg.active {
    fill: #434343;
  }
}

.error {
  right: 30px;
}