@import 'styles/vars';

.container {
  margin-bottom: 40px;
  max-width: 100%;
  margin-top: 210px;
}


@media screen and (min-width: #{$lg}px) {
  .container {
    max-width: 1400px;
  }
  @media screen and (min-width: #{$xxl}px) {
    .container {
      max-width: 2100px;
    }
  }
}

@media screen and (max-width: #{$md}px) {
  .container {
    max-width: 100%;
    margin-top: 150px;
  }

  @media screen and (max-width: #{$sm}px) {
    .container {
      margin-top: 0;
    }
  }
}
