@import 'styles/vars';

.control {
  position: relative;
}

.submitBtn:focus {
  box-shadow: none;
}

.formGroup {
  .eyeIcon {
    position: absolute;
    right: 15px;
    bottom: 20px;
    top: 9px;
  }
}
.formcheckout {
  align-items: center;
  margin-left: 43px;
  display: flex;
}
.checkbox {
  margin-left: -27px;
  margin-bottom: 5px;
  width: 17px;
}
.input_mask ~ span {
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  background-repeat: no-repeat;
  background-position: 15px 14px;
  background-repeat: no-repeat;
  padding: 20px;
  width: 22px;
  height: 14px;
  position: absolute;
  left: 0px;
  bottom: 0;
  top: 2px;
}

.input_mask ~ .tel_icon {
  background-image: url('../../modals/contact-us/svgs/phone.svg');
}

.input_mask ~ .email_icon {
  background-image: url('../../modals/contact-us/svgs/mail.svg');
}

.input_mask ~ .password_icon {
  background-image: url('../../svgs/key.svg');
}

.input_mask ~ button {
  top: 13px;
}

.form {
  &__register {
    background: $primary-color;
    border-radius: 60px;
    color: #fff;
    border: none;
    width: 100%;
    height: 44px;
    transition: opacity 0.3s ease;
    margin: 15px 0;

    &:active {
      background-color: rgba($primary-color, 0.9) !important;
    }
  }

  &__register:hover {
    background: $primary-color;
    opacity: 0.7;
  }
  &__login {
    background: #424d52;
    background: $primary-color;
    opacity: 0.7;

    &:active {
      background-color: rgba(#424d52, 0.9) !important;
    }
  }
  &__login {
    background: $font-color;
    border-radius: 60px;
    color: #fff;
    border: none;
    width: 100%;
    height: 44px;
    margin-bottom: 15px;
  }
  &__resetPassword {
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-decoration: underline;
    color: #007bff;
    transition: opacity 0.3s ease;
    span {
      margin-left: 15px;
    }
  }
  &__resetPassword:hover {
    color: $font-color;
    opacity: 0.7;
  }
  &__social {
    height: 44px;
    width: 270px;
    
    margin: 15px 0px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 0px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px 2px #e5e5e5;
    background-color: white;
    transition: all .3s;
    color: #4a5a74;
    font-weight: 600;
    svg {
      margin-right: 5px;
    }
    &:hover {
      background-color: white;
    }
    &:focus{
      color: #4a5a74;
      background-color: white;
    }
  }
  .fb-btn:hover {
    color: #007bff;
  }
  .g-btn:hover {
    color: #4a5a74;
    box-shadow: 5px 5px 10px 2px #d7d7d7;
  }
  &__invalid {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
  }
  &__socialBtn {
    justify-content: center;
  }
  &__rememberMe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 15px 0;
    input[type='checkbox'] {
      position: static;
      width: 20px;
      height: 20px;
      margin: 0 10px 0 0;
    }
  }

  &__message {
    width: 100%;
    text-align: center;
  }

  input:not([type='checkbox']) {
    width: 100%;
    height: 44px;
    border: 1px solid #e2e6e7;
    box-sizing: border-box;
    border-radius: 60px;
    outline: none;
  }
  input[type='text'] {
    padding-left: 30px;
  }
  input[type='text']::placeholder {
    padding-left: 0px;
  }

  input::placeholder {
    opacity: 0.3;
    padding-left: 5px;
  }
  input[type='email'],
  input[type='tel'],
  input[type='password'],
  input[type='text'] {
    padding-left: 40px;
  }

  input[name='firstName'],
  input[name='lastName'] {
    padding-left: 10px;
  }

  .resendMessage {
    &__block {
      width: 100%;
    }

    &__btn {
      display: block;
      min-width: 200px;
      background: $primary-color;
      border-radius: 60px;
      color: #fff;
      border: none;
      height: 44px;
      transition: opacity 0.3s ease;
      margin: 15px auto;
    }

    &__timerBlock {
      position: relative;
      padding-top: 2px;

      .spinner {
        position: absolute;
        top: -3px;
        right: 72px;
      }
    }

    &__timer {
      text-align: center;
    }
  }

  @media screen and (min-width:#{$sm}px) {
    &__socialBtn {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.back {
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
  text-decoration: underline;
  color: #007bff;
  transition: opacity 0.3s ease;
}
.back:hover {
  color: $font-color;
  opacity: 0.7;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
  margin-bottom: 30px;

  &__forgotForm {
    display: flex;
    flex-direction: column;
    margin: 15px;
    max-width: 500px;
    width: 90%;
    button {
      max-width: 150px;
    }
  }

  &__resetPassworForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    input {
      width: 250px;
    }
  }
}

@media screen and (max-width: #{$md}px) {
  .container {
    margin-top: 0px;
    &__resetPassworForm {
      margin: 15px;
    }
  }
}

@media screen and (max-width: #{$sm}px) {
  .container {
    margin-top: 0px;
    &__resetPassworForm {
      margin: 25px;
    }
  }
  .form {
    margin-top: 50px;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    padding: 0 50px;

    .formGroup {
      width: 100%;
    }
    .control {
      width: 100%;
      input {
        width: 100%;
        height: 50px;
      }

      .control {
        width: 100%;
      }
    }

    button {
      flex-basis: 100%;
    }

    .row {
      margin: 30px 0 0;

      button {
        margin: 0;
        height: 40px;
      }
      button:nth-child(2) {
        margin-top: 10px;
      }
    }
  }
}

@media screen and (max-width: #{$xs}px) {
  .form {
    padding: 0;
    margin-top: 15px;
  }
}
