@import 'styles/vars';

.img {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  width: 100%;
  height: 220px;
  // @media screen and (min-width: #{$xxl}px) {
  //     height: 400px;
  // }

  img {
    border-radius: 30px;
    width: auto !important;
    height: auto !important;
    min-width: 0% !important;
  }

  .info {
    color: #ffffff;
    margin-top: 10px;
  }
}

.empty {
  border-radius: 40px;
  background: linear-gradient(75deg, #9A4354, #636363, #27524C);
}
