@import 'styles/vars';

.page-name {
  margin-bottom: 2rem;
}

.block {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ddd;
  margin-bottom: 1rem;

  .block-header {
    display: flex;
    cursor: pointer;

    h5 {
      margin-left: 1rem;
    }
  }

  .children {
    margin-top: 1rem;
    padding: 0.5rem 2.5rem;
  }
}

@media screen and (max-width: #{$xs}px) {
  .block {
    .children {
      padding: 0.5rem 1rem;
    }
  }
}
